# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://192.168.2.121:9003  #This is the frontend URL for local development
# NEXTAUTH_URL = https://leafassets.andolasoft.co.in  #This is frontend url for production
NEXTAUTH_SECRET = jmCodlTSQHgUd3whlxpuephuJFIUiohVbdi3V7APwyk=
NEXT_PUBLIC_REACT_APP_MAIN_API_URL = http://localhost:5000/api  #This backend api url
NEXT_PUBLIC_REACT_APP_ASSET_API_URL = http://localhost:5000/api



#npm install --save-dev ts-node
#npm install @rtk-query/codegen-openapi --save-dev
#npm install ajv@8
#Run this command to generate the OpenAPI codegen files
#npx @rtk-query/codegen-openapi src/redux/config/pfConfig.ts