# ==================================================
# ⚡️ General environment files
# ==================================================
.env
.env*.local

# ==================================================
# 💻 Editor settings
# ==================================================
.vscode/

# ==================================================
# 📦 Node dependencies
# ==================================================
node_modules/
frontend/node_modules/
backend/node_modules/

# ==================================================
# ⚡️ Build and output directories
# ==================================================
.next/
out/
build/

# ==================================================
# ⚡️ Package files (usually kept in git for deployments, remove if needed)
# ==================================================
frontend/package-lock.json
# frontend/package.json
backend/package-lock.json
# backend/package.json

# ==================================================
# 🐇 Others
# ==================================================
.pnp/
.pnp.js
.yarn/install-state.gz
.vercel/
next-env.d.ts
frontend/react_new_deploy.sh
